@import 'ant-design-vue/dist/antd.less';

@import './antd/ant-checkbox.less';
@import './antd/ant-collapse.less';
@import './antd/ant-form.less';
@import './antd/ant-modal.less';
@import './antd/ant-popover.less';
@import './antd/ant-tabs.less';
@import './antd/ant-table.less';
@import './antd/ant-timeline.less';
@import './antd/ant-tree.less';
@import './antd/ant-select.less';
@import './antd/ant-menu.less';
@import './antd/ant-input-search.less';

body {
    font-family: 'Avenir', sans-serif !important;
    text-rendering: auto !important;
    font-smooth: auto !important;
    -webkit-font-smoothing: auto !important;
    background: #f8f8fd !important;
}

.ant-layout {
    @apply bg-body !important;
}

.ant-form-vertical .ant-form-item-control {
    flex: 0 0 100% !important;
    max-width: 100% !important;
}

.svg-icon {
    display: inline-flex;
    align-self: center;

    svg {
        height: 1em;
        width: 1em;
        // top: 0.125em;
        position: relative;
    }
}

.ant-btn > i,
.ant-btn > span {
    vertical-align: middle;
}

.inlinepopover {
    .ant-popover-inner {
        border-radius: 10px !important;
    }
}

.ant-input-prefix {
    svg {
        top: 0 !important;
    }
}

.leading-none .svg-icon {
    svg {
        top: 0 !important;
    }
}

.ant-checkbox-wrapper + .ant-checkbox-wrapper {
    margin-left: 0px !important;
}

.ant-select-multiple .ant-select-selection-item-remove > .anticon {
    vertical-align: 0.2em !important;
}

.anticon {
    vertical-align: 0em !important;
}

.ant-select-tree {
    margin-top: 0px;

    li:first-child {
        margin-top: 4px !important;
        margin-bottom: 4px !important;
    }
}

.ant-dropdown-menu-root {
    padding: 0 !important;
}
// Split Panes
.default-theme.splitpanes--vertical > .splitpanes__splitter:before {
    width: 0px !important;
}

.default-theme.splitpanes--vertical > .splitpanes__splitter:after {
    width: 0px !important;
}

.default-theme.splitpanes--vertical > .splitpanes__splitter {
    width: 0px !important;
}

.default-theme .splitpanes--horizontal > .splitpanes__splitter:before {
    width: 0px !important;
}

.default-theme .splitpanes--horizontal > .splitpanes__splitter:after {
    width: 0px !important;
}

.pushtop {
    top: 2px;
}

.ant-upload {
    @apply w-full !important;
}

.ant-modal-confirm-btns {
    @apply mt-3 !important;
    [class='ant-btn'] {
        // only targeting the cancel button; btn that has only one class and that class is ant-btn
        @apply bg-transparent;
        @apply border-transparent;
        @apply hover:text-gray;
    }
    .ant-btn.ant-btn-primary.ant-btn-dangerous {
        // only targeting danger btns
        @apply bg-error;
        @apply border-error;
        @apply font-bold;
    }
}

.ant-table-cell-fix-left, .ant-table-cell-fix-right {
    @apply bg-transparent;
}