.close-btn-sidebar {
    height: 32px;
    width: 32px;
    background: #3e4359cc;
    position: fixed;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transform: rotate(45deg);
    left: -40px;
    top: 20px;
    cursor: pointer;
}

.close-btn-sidebar-left {
    height: 32px;
    width: 32px;
    background: #3e4359cc;
    position: fixed;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transform: rotate(45deg);
    left: 245px;
    top: 20px;
    cursor: pointer;
}

.freeze-clicks-outside-popover {
    position: fixed;
    inset: 0px;
    display: flex;
    z-index: 702;
    align-items: flex-start;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: default;
}
