.ProseMirror-focused .ProseMirror-gapcursor {
    display: block;
}
.ProseMirror {
    outline: none;

    p {
        @apply m-0 !important;
        @apply text-gray-700;
    }

    h1 {
        @apply mb-3 mt-0 text-gray-700 font-bold !important;
    }

    h2 {
        @apply mb-2 mt-0 text-gray-500 font-semibold !important;
    }
    h3 {
        @apply mb-1 mt-0 text-gray-500 font-semibold !important;
    }

    &.prose {
        max-width: 100% !important;
    }

    .is-empty::before {
        @apply text-gray-400;
        content: attr(data-placeholder);
        float: left;

        pointer-events: none;
        height: 0;
    }

    hr {
        @apply my-3 !important;
    }

    a {
        @apply text-blue-500 !important;
    }

    ul > li::before {
        // display: none;
        // height: 0.3571429em;
        // width: 0.3571429em;
        // top: calc(0.8571429em - 0.1785714em);
        // left: 0.2142857em;
    }

    ::marker {
        display: none !important;
        font-size: 0;
    }

    > * + * {
        @apply mt-1 !important;
    }

    img {
        @apply m-0 !important;
    }

    table {
        border-collapse: collapse;
        table-layout: fixed;
        width: 100%;
        margin: 0;
        overflow: hidden;

        ::selection {
            @apply text-black;
        }

        td,
        th {
            min-width: 1em;
            border: 2px solid #ced4da;
            padding: 3px 5px;
            vertical-align: top;
            box-sizing: border-box;
            position: relative;

            > * {
                margin-bottom: 0;
            }
        }

        th {
            font-weight: bold;
            text-align: left;
            background-color: #f1f3f5;
        }

        .selectedCell:after {
            z-index: 2;
            position: absolute;
            content: "";
            left: 0; right: 0; top: 0; bottom: 0;
            background: rgba(200, 200, 255, 0.4);
            pointer-events: none;
        }

        p {
            margin: 0;
        }
    }

    .column-resize-handle {
        position: absolute;
        right: -2px;
        top: 0;
        bottom: -2px;
        width: 4px;
        background-color: #adf;
        pointer-events: none;
    }

    .resize-cursor {
        cursor: ew-resize;
        cursor: col-resize;
    }
}

.resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
}

.ProseMirror-gapcursor {
    display: none;
    pointer-events: none;
    position: absolute;
}

.ProseMirror-gapcursor:after {
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    width: 20px;
    border-top: 1px solid black;
    animation: ProseMirror-cursor-blink 1.1s steps(2, start) infinite;
}

ul[data-type="taskList"] {
    list-style: none;
    padding: 0;

    p {
        margin: 0;
    }

    li {
        display: flex;
        padding-left: 0 !important;
        align-items: center;
        align-content: center;

        > label {
            display: flex;
            flex: 0 0 auto;
            margin-right: 0.5rem;
            user-select: none;
            margin-top: 0 !important;
            align-items: center;
            align-content: center;
        }

        > div {
            flex: 1 1 auto;
            margin-bottom: 0 !important;
        }

        &::before {
            content: none !important;
        }
    }
}

@keyframes ProseMirror-cursor-blink {
    to {
        visibility: hidden;
    }
}