name: Production Website Workflow
on:
  push:
    branches:
      - beta
      - alpha
      - development
      - main
      - staging
jobs:
  test:
    name: Production Deployment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: AWS CLI Install
        run: |
          sudo apt-get update
          sudo apt-get install -y awscli
      - name: Install
        run: npm install
      - name: Setup AWS CLI
        run: |
          mkdir ~/.aws
          touch ~/.aws/credentials
          echo [default] >> ~/.aws/credentials
          echo aws_access_key_id = $AWS_ACCESS_KEY_ID >> ~/.aws/credentials
          echo aws_secret_access_key = $AWS_SECRET_ACCESS_KEY >> ~/.aws/credentials
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      - name: Get branch name
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: get_branch
      - name: Get previous tag from charts repo
        id: get_channel
        run: |
          repo_branch=${{ steps.get_branch.outputs.branch }}
          if [[ "$repo_branch" == "main" ]]; then
            channel="main"
          elif [[ "$repo_branch" == "alpha" ]]; then
            channel="alpha"
          elif [[ "$repo_branch" == "beta" ]]; then
            channel="beta"
          elif [[ "$repo_branch" == "development" ]]; then
            channel="development"
          elif [[ "$repo_branch" == "staging" ]]; then
            channel="staging"
          else 
            echo "Build not configured for current branch"
            exit 1
          fi
          echo "##[set-output name=channel;]$(echo $channel)"
        shell: bash
      - name: Build
        run: NODE_OPTIONS=--max_old_space_size=8000 npm run build
      - name: COPY DIST TO S3
        run: aws s3 cp ./dist s3://$AWS_S3_BUCKET/$CHANNEL_NAME --recursive --region $AWS_REGION
        env:
          AWS_REGION: "ap-south-1"
          AWS_S3_BUCKET: ${{ secrets.AWS_S3_DEPLOYMENT_BUCKET }}
          CHANNEL_NAME: ${{ steps.get_channel.outputs.channel }}
      # Send a slack notification message on the specified channel with the failure github actions workflow report.
      - name: Slack notification
        uses: 8398a7/action-slack@v3
        with:
            status: ${{ job.status }}
            author_name: Github-Actions # default: 8398a7@action-slack
            fields: repo,commit,workflow,message,author,took # default: repo,commit
            text: '- @infra, Job ${{ job.status }} :rocket:'
        env:
            SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
        if: failure() # Pick up events even if the job fails or is canceled.
